.card{
    display: grid;
    grid-template-rows: 1fr 1fr;

    width: 225px;
    height: 265px;
    
    background-color: var(--light-mode-element-color);
}
.card, .card > *{
    border-radius: 5px;
}

.card > *{
    outline: 3px blue solid;
}