header{
    display: flex !important;
    justify-content: space-between;
    border-bottom: .5px solid whitesmoke;
    box-shadow: 0 .5px .5px 1px rgba(175, 174, 174, 0.5);
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.color-theme-container{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

h1{
    font-size: calc(var(--fs-large) - .5) !important;
    font-weight: var(--fw-bold) !important;
}

h2{
    font-weight: var(--fw-regular);
    font-size: 1rem;
}