.countryFlag{
    width: 100%;
}
.countryFlag__image{
    width: 100%;
    aspect-ratio: 1;
    height:125px;
    image-rendering: crisp-edges;
    object-fit: cover;
    border-radius: 5px;
}

.countryInfo{
    --padding: 1rem;
    padding: var(--padding);
    width: calc(100% - (var(--padding) * 2) );
    height: calc(100% - (var(--padding) * 2) );
    text-align: center;
    display: flex;
    justify-content:start;
    row-gap: .25rem;
    align-items: flex-start;
    flex-direction: column;
}

.countryInfo--name{
    font-size: 1rem;
    font-weight: var(--fw-bold);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.countryInfo--text{
    font-size: .75rem;
    font-weight: var(--fw-regular);
    line-height: .75rem;
    text-transform: capitalize;
}
.country-info--value{
    font-weight: var(--fw-light);
    line-height: .75rem;
    text-transform: capitalize;
    font-size: .75rem;
}