#root {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  display: grid;
  grid-template-rows: auto auto 4fr;
  grid-auto-rows: auto;

  height: 100%;
}

.padding-block-sides {
  padding-left: 2rem;
  padding-right: 2rem;
}
.padding-block {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

